.controls {
  .control-btn {
    background-color: #5cdb95;
    border: none;
    color: #05386b;
    font-size: 1.5rem;
    margin: 1rem;
    padding: 0.5rem 1rem;
  }
  .control-btn:focus {
    background-color: #5cdb95;
  }
}
